.dblab-presentation {
  background-color: var(--primary-color);
  color: white;
  padding-top: 3em;
}

.dblab-presentation__db-dev-lab {
  font-size: xx-large;
  margin: 0.5em 0;
}

.dblab-presentation__databases-caps {
  font-weight: bold;
}

.dblab-presentation__buttons {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-items: center;
  gap: 20px;
  padding: 2em 0;
}

.dblab-presentation__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  
  font-size: 16px;
  font-weight: 500;
  color: white;
  
  padding: 10px 20px;
  border-radius: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  transition: var(--transition);
}

.dblab-presentation__meet-button {
  background-color: var(--secondary-color);
}

.dblab-presentation__meet-button:hover {
  background-color: var(--secondary-dark);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.dblab-presentation__skills-button {
  padding: 7px 17px;
  border: 3px solid white;
  background-color: transparent;
}

.dblab-presentation__skills-button:hover {
  background-color: var(--primary-dark);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 4px 12px var(--primary-dark);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-weight: 500;
  width: 100%;
}

.info > * {
  width: 50%;
  min-width: 500px;
}

.info__heading {
  text-align: center;
  color: var(--primary-color);
  padding: 1.7em;
}

.info__list {
  list-style-type: disc;
  padding-left: 1.5em;
}

.info__skills-container {
  min-width: 800px;
  width: 80%;
  padding: 0 0 10px 0;
}

.skill-card {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 5px solid var(--primary-color);
  margin: 10% 0;
  border-radius: 15px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}

.skill-card:hover {
  border-color: var(--secondary-color);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 5px 10px var(--secondary-color);
}

.skill-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    margin: 0 10px;
}
.skill-card-link:hover .skill-card {
    border-color: #009CCF;
    background-color: #f0faff;
}

.skill-card__name {
  font-size: large;
  color: var(--primary-color);
  font-weight: bold;
  padding: 0 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.directions {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
}

.directions__heading {
  font-size: x-large;
  text-align: center;
  color: var(--primary-color);
  padding: 1.7em;
}

.directions > * {
  width: 70%;
  min-width: 800px;
}

.directions__directions-container{
  display: flex;
  justify-content: center;
  gap: 3%;
  padding-bottom: 2%;
}

.direction-card {
  flex: 1;
  display: flex;
  max-width: 220px;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8%;
  background-color: white;
  border-radius: 5%;
  padding: 3% 1%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}

.direction-card:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.direction-card__name {
  font-size: larger;
  font-weight: bold;
  color: var(--primary-color);
}

.direction-card__description {
  font-weight: 500;
  color: var(--text-light);
  align-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.directions__all-directions-button {
  display: inline-block;
  width: auto;
  min-width: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
  
  padding: 7px 20px;
  margin: 30px 0;
  border-radius: 18px;
  border: 3px solid var(--secondary-color);
  background-color: transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  transition: var(--transition);
}

.directions__all-directions-button:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.experts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  width: 100%;
}

.experts > * {
  width: 70%;
  min-width: 800px;
}

.experts__heading {
  font-size: x-large;
  text-align: center;
  color: white;
  padding: 1.7em;
}

.experts__experts-container {
  height: 450px;
  padding-bottom: 4%;
}

.expert-card {
  height: 450px;
  width: 100%;
  justify-self: center;
  flex: 1;
  max-width: 320px;

  display: grid;
  grid-template-rows: 1fr 150px 2fr 3fr 4fr;
  gap: 8px;

  background-color: white;
  border-radius: 15px;
  padding: 2% 1%;
  margin-bottom: 5%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}

.expert-card > p {
  justify-self: center;
}

.expert-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.expert-card__role {
  color: var(--text-light);
}

.expert-card__img {
  justify-self: center;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.expert-card__name {
  font-size: large;
  font-weight: bold;
  color: var(--primary-color);
  padding: 8px 8px 0 8px;
}

.expert-card__employment {
  color: var(--text-light);
}

.expert-card__position {
  color: var(--primary-light);
}

.expert-card__place-of-employment {
  color: var(--primary-light);
}

.expert-card__level {
  color: var(--secondary-color);
}

.expert-card__description {
  color: var(--text-light);
  padding: 1% 3%;
}

.slick-list {
  user-select: text;
}
