.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.tooltip-box {
    position: absolute;
    bottom: 120%; /* Над елементом */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 0.8rem;
    white-space: nowrap;
    z-index: 100;
    opacity: 0;
    animation: fadeIn 0.2s forwards;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.tooltip-arrow {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

@keyframes fadeIn {
    to { opacity: 1; }
}